# 测试文件
test.*
test_2.*
example/口上测试.csv

# 缓存文件
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc

# 数据库
data/Character.json
data/data.json
data/ui_text.json

# 临时文件
tem
备份
image/立绘/模型测试用/
image/全场景/

# 性能测试
profiling_output

# 打包相关文件
build
dist

# 游戏解包数据
data/data_from_game

# AI
tools/AI
ai_chat_api_key.txt
ai_chat_api_key.csv
data/talk/ai
.github/prompts/AI文本生成工作流/生成目标文件/

# 地图数据
data/MapData
data/PlaceData
data/SceneData
data/ScenePath

# 存档
save

# 原图
image/断面图/原图
downloaded_images

# 编辑器配置文件
tools/ArkEditor/快速插入前提.csv
tools/ArkEditor/editor_config.ini

# 模组
mod/mod_config.json

# 错误log
error.log
