# 测试文件
test.py
test_2.py
example/口上测试.csv

# 缓存文件
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*/*.pyc
*/*/*/*/*/*.pyc

# 数据库
data/Character.json
data/data.json
data/ui_text.json

# 临时文件
tem

# 打包相关文件
build
dist
*.spec

# 游戏解包数据
data/data_from_game

# AI
tools/AI
ai_chat_api_key.txt
ai_chat_api_key.csv
data/talk/ai

# 地图数据
data/MapData
data/PlaceData
data/SceneData
data/ScenePath

# 存档
save

# 原图
image/断面图/原图

# 错误log
error.log
